<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	<security:http auto-config="true">
		<security:intercept-url pattern="/images/**" filters="none" />
		<security:intercept-url pattern="/plugin/**" filters="none" />
		<security:intercept-url pattern="/script/**" filters="none" />
		<security:intercept-url pattern="/style/**" filters="none" />
		<security:intercept-url pattern="/upload/**" filters="none" />
		<security:intercept-url pattern="/views/login/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/register**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/loginNameUnique.do**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:intercept-url pattern="/login.jsp" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<security:form-login login-page="/login.jsp" default-target-url="/" authentication-failure-url="/login.jsp?error=true" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
	</security:http>
	<security:authentication-manager>
		<security:authentication-provider>
			<security:jdbc-user-service data-source-ref="dataSource" users-by-username-query="SELECT U.LOGIN_NAME, U.PASSWORD, U.ENABLED FROM USER U WHERE U.LOGIN_NAME = ?" authorities-by-username-query="SELECT U.LOGIN_NAME, R.NAME AS AUTHORITY FROM USER U, ROLE R, ACCESS A WHERE U.LOGIN_NAME = ? AND U.ID = A.USER_ID AND A.ROLE_ID = R.ID" />
		</security:authentication-provider>
	</security:authentication-manager>
</beans>