.admin-container {
	height: 550px;
	width: 950px;
	text-align: center;
	margin: 0 auto;
}

.admin-job-tree {
	height: 540px;
	max-height: 540px;
	padding-top: 10px;
	border-top: 0px;
	overflow: auto;
	background-color: #f6f6f6;
	border-right: 1px solid #dddddd;
}

.admin-job-panel {
	margin-top: 20px;
}

.admin-user-panel {
	padding: 20px;
}

.admin-user-panel .form-group {
	text-align: left;
}

.admin-user-panel>div>select {
	width: 150px;
}

.admin-user-panel>div>button {
	width: 150px;
	float: right;
}