.home {
	width: 100%;
}

.home>div {
	width: 900px;
	margin: 0 auto;
}

.panel {
	border: 1px solid #ccdbec;
	background-color: #f6fafe;
	width: 440px;
	height: 150px;
	margin: 5px;
	float: left;
}

.panel-title {
	padding: 10px;
	font-size: 18px;
}

.panel-content {
	margin: 15px;
}

.panel-top-button {
	margin-top: -35px;
	margin-left: 350px;
}