.home {
	width: 100%;
}

.home>div,form {
	width: 900px;
	margin: 0 auto;
	min-height: 620px;
}

.panel {
	border: 1px solid #ccdbec;
	background-color: #f6fafe;
	width: 440px;
	height: 150px;
	margin: 5px;
	float: left;
}

.panel-title {
	padding: 10px;
	font-size: 18px;
}

.panel-content {
	margin: 15px;
}

.panel-top-button {
	margin-top: -35px;
	margin-left: 350px;
}

.paper-title {
	margin: 20px;
}

.paper-question-odd {
	vertical-align: top;
	padding: 15px;
}

.paper-question-even {
	vertical-align: top;
	padding: 15px;
	background-color: #f6fafe;
}

.paper-question-odd>div {
	vertical-align: top;
	min-height: 30px;
}

.paper-question-even>div {
	vertical-align: top;
	min-height: 30px;
}

.paper-question-button {
	padding-left: 10px;
}

.paper-line {
	border: 1px solid #43b9ef;
}

.paper-choice-answers>input {
	margin-left: 20px;
	margin-right: 5px;
}